* {
    font-family: Arial, Helvetica, sans-serif !important;
    text-align: center;
    /* margin: auto; */
    /* position: absolute; */
    text-decoration: none;
}
body {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
a {
    color: skyblue;
}
a:hover {
    color: slategray;
}
img {
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    width: 200px;
    height: 192px;
}